body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(22, 21, 21);

}


.cont{
    background-color: black;
    width: auto;
    height: 100vh;
    margin-left: 25vw;
    margin-right: 25vw;
    overflow: hidden;
    position: relative;
}

.cont::before{
    content: '';
    width: 2%;
    height: 100%;
    position: absolute;
    right: 50%;
    background-image: repeating-linear-gradient(rgb(172, 172, 172), rgb(190, 190, 190) 10%,black 10%, black 20%)
}


.box{
    height:20vh;
    width:3%;
    background-color: rgb(154, 156, 158);
    position: absolute;
    transition: 0.2s;
}
.op{
  left:97%

}
.ball{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: azure;
    position: absolute;
   transition: 0.1s;

}

.win{
    position: absolute;
    color: azure;
    font-size: 3.5em;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.opWin{
    right:25%;
}
.plWin{
    left:25%;
}



@media screen and (max-width:950px) {
    .cont{
        margin-left: 15vw;
        margin-right: 15vw; 
    }
}

@media screen and (max-width:750px) {
    .cont{
        margin-left: 10vw;
        margin-right: 10vw; 
    }
}

@media screen and (max-width:550px) {
    .cont{
        margin-left: 5vw;
        margin-right: 5vw; 
    }
}
@media screen and (max-width:450px) {
    .cont{
        margin-left: 0vw;
        margin-right: 0vw; 
    }
}